/* html */
html{
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
}

h1, h2, h3, h4, h5, p, span {
    margin: 0;
    color: #666;
}

.container {
    max-width: 1920px;
    width: 100%;
}

/* header */
header {
    position: relative;
    top: auto;
    width: 100%;
}

/* navbar */
nav {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

nav::after {
    clear: both;
    content: "";
    display: block;
}

.nav-container {
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#logo {
    width: 50px;
    height: 50px;
    margin-top: 25px;
}

.nav-container ul {
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

.nav-container li {
    list-style: none;
    float: left;
    margin: 0 15px;
}

.nav-container li a{
    text-decoration: none;
    color: #666;
    transition: .5s;
}

.nav-container li a:hover {
    color: #3381f3;
}

/* banner */
#main-banner {
    background: url('img/banner.jpg') no-repeat;
    background-size: cover;
    background-position: 0 55%;
    position: relative;
    margin-top: 100px;
}

#search-form {
	position: relative;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15em;
	padding-bottom: 15em;
	text-align: center;
}

#search-form h1 {
	font-size: 40px;
}

#search-form p {
	margin-top: 30px;
	margin-bottom: 60px;
	font-size: 18px;
	font-weight: 300;
}

#search-form input, #search-form select, #sendjobs input, #sendjobs select, #sendjobs textarea {
	background-color: #FFF;
	border-radius: 5px;
	border-color: transparent;
	padding: 10px 20px;
	font-size: 18px;
	margin: 0 10px;
}

#search-form input[type=submit], #sendjobs input[type=submit] {
	background-color: #3381f3;
	text-transform: uppercase;
	color: #FFF;
	cursor: pointer;
	transition: 0.5s;
}

#search-form input[type=submit]:hover, #sendjobs input[type=submit]:hover {
	background-color: #2B79EB;
}

/* Planos container */
#plans-container {
    text-align: center;
    padding: 100px 0;
}

.wrapper {
    max-width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#plans-container h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

#plans-container .p-center {
    margin-bottom: 60px;
}

.plans-box {
    display: inline-block;
    width: 31%;
    padding: 0 1%;
    text-align: left;
}
.plans-box img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.plans-box h4 {
    font-size: 24px;
    margin-right: 15px;
}

.plans-box h4 a {
    text-decoration: none;
    color: #666;
}

.plans-box {
    position: relative;
    width: 250px;
    height: 250px;
}

.plans-box::before,
.plans-box::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(60% + 35px);
    background-color: #fff;
    transition: transform .5s .25
    ease-in;
    z-index: -1;
}

.plans-box::before {
    top: 0;
    clip-path: polygon(
    0 0, 100% 0, 100% 45% 0% 100%);
    transform: translateY(-100%);
}

.plans-box::after{
    bottom: 0;
    clip-path: polygon(
    0 55%, 100% 0, 100% 100%, 0% 100%);
}
